<launch>
  <node pkg="brainstem" type="node.py" name="brainstem_node" output="screen" />

  <!-- gamepad support not in dependencies - just for testing -->
  <param name="joy_node/dev" value="/dev/input/js0" />
  <node pkg="joy" type="joy_node" name="joy_node" output="screen" />
  <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
    <param name="scale_angular" value="2" />
  </node>

<!--
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_key" required="true" output="screen" />
  -->

</launch>
